<p >
    <mat-toolbar color="primary" >
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-raised-button class="example-icon" color="accent" (click)="signIn($event)">
            <mat-icon fontIcon="login"></mat-icon>
            <span>SignIn</span>
        </button>
        <button mat-raised-button class="example-icon" color="warn" (click)="signOut($event)">
            <mat-icon fontIcon="logout  "></mat-icon>
            <span>SignOut</span>
        </button>
    </mat-toolbar>
</p>