.container {
    padding: 1.5rem;
}
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}
.example-spacer {
    flex: 1 1 auto;
}

.active {
    background-color: #ccc;
    color: #ffffff;
}

.photo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
        border-radius: 50%;
        object-fit: cover;
    }
}