<div class="form-container">
    <h1>{{ action | titlecase }}</h1>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email"
                       placeholder="Ingrese su email"
                       type="email" value="gustavocaqui94@gmail.com">
                <mat-icon matSuffix fontIcon="person"/>
                <mat-error *ngIf="hasError('email')">{{ errorMessage('email') }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password"
                       placeholder="Ingrese su contraseña"
                       type="password" value=123456789>
                <mat-icon matSuffix fontIcon="key"/>
                <mat-error *ngIf="hasError('password')">{{ errorMessage('password') }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <span><a routerLink="/auth/forgot-password">Forgot password?</a></span>
        </div>
        <div>
            <button mat-raised-button color="primary" type="submit">
                {{ action | titlecase}}
            </button>
        </div>
        <div>
            <button mat-raised-button type="button" color="accent" (click)="signInGoogle()">
                Google login
            </button>
        </div>
        <ng-container *ngIf="action === 'sign-in'">
            <div>
                <span>Don-t have an account yet?</span> - <a routerLink="/auth/sign-up">Sign up</a>
            </div>
        </ng-container>

    </form>

</div>