<div class="navbar-container">
    <button mat-icon-button class="example-icon" >
        <mat-icon>menu</mat-icon>
    </button>
    <span>Dashboard</span>
    <span class="example-spacer"></span>
    <!--        <button mat-raised-button class="example-icon" color="accent" (click)="signIn($event)">-->
    <!--            <mat-icon fontIcon="login"></mat-icon>-->
    <!--            <span>SignIn</span>-->
    <!--        </button>-->
    <button mat-raised-button class="example-icon" color="primary" (click)="signOut($event)">
        <mat-icon fontIcon="logout  "></mat-icon>
        <span>SignOut</span>
    </button>
</div>

