<p>Users Conponent</p>

<button mat-raised-button color="primary" (click)="openDialog()">
   Create
</button>
<mat-divider style="margin: 1.25rem 0"/>
<ng-container *ngIf="(users$ | async) as users">
<!--    <ul *ngFor="let user of users">-->
<!--        <li>-->
<!--            <mark>Name</mark>-->
<!--            : {{user.name}} |-->
<!--            <mark>Email</mark>-->
<!--            : {{user.email}}</li>-->
<!--    </ul>-->
    <table mat-table [dataSource]="users" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID.</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef> Options</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn"
                        matTooltip="delete" (click)="onDelete(element.id)">
                    <mat-icon fontIcon="delete"></mat-icon>
                </button>
                <button mat-icon-button color="accent"
                        matTooltip="update" (click)="openDialog(element)">
                    <mat-icon fontIcon="update"></mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</ng-container>
