
<div class="container">
    <div class="form-container">
        <ng-container *ngIf="!isEmailSend; else showEmailSend">
            <h1>Forgot Password</h1>
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit($event)">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Ingrese su email" type="email">
                        <mat-icon matSuffix fontIcon="person"/>
                        <mat-error *ngIf="hasError('email')">{{ errorMessage('email') }}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="primary" type="submit">
                        Send Email
                    </button>
                </div>
            </form>
        </ng-container>

        <ng-template #showEmailSend>
            <h1>If you have an account you will receive an email.</h1>
        </ng-template>
    </div>

</div>

